@import "tailwindcss";
@import "tw-animate-css";

@import "uploadthing/tw/v4";
@source "../node_modules/@uploadthing/react/dist";

/* Swiper styles */
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.51rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.146 0.003 238.1913471089192);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.146 0.003 238.1913471089192);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.146 0.003 238.1913471089192);
  --primary: oklch(0.594 0.154 247.6934865641623);
  --primary-foreground: oklch(0.962 0.002 238.39342766426847);
  --secondary: oklch(0.883 0.016 238.62708267291765);
  --secondary-foreground: oklch(0.215 0.015 239.48390858421823);
  --muted: oklch(0.883 0.016 238.62708267291765);
  --muted-foreground: oklch(0.556 0.063 240.42821313200034);
  --accent: oklch(0.804 0.06 239.5603811683926);
  --accent-foreground: oklch(0.218 0.032 241.37907622231768);
  --destructive: oklch(0.58 0.237 28.43022926835137);
  --border: oklch(0.844 0.022 238.73924536525445);
  --input: oklch(0.844 0.022 238.73924536525445);
  --ring: oklch(0.594 0.154 247.6934865641623);
  --chart-1: oklch(0.594 0.154 247.6934865641623);
  --chart-2: oklch(0.695 0.119 242.29562168606685);
  --chart-3: oklch(0.765 0.072 239.96757388987965);
  --chart-4: oklch(0.449 0.116 247.7342279185907);
  --chart-5: oklch(0.338 0.081 246.01342010377198);
  --sidebar: oklch(0.883 0.016 238.62708267291765);
  --sidebar-foreground: oklch(0.215 0.015 239.48390858421823);
  --sidebar-primary: oklch(0.594 0.154 247.6934865641623);
  --sidebar-primary-foreground: oklch(0.962 0.002 238.39342766426847);
  --sidebar-accent: oklch(0.804 0.06 239.5603811683926);
  --sidebar-accent-foreground: oklch(0.218 0.032 241.37907622231768);
  --sidebar-border: oklch(0.844 0.022 238.73924536525445);
  --sidebar-ring: oklch(0.594 0.154 247.6934865641623);
}

.dark {
  --background: oklch(0.215 0.018 239.74929658126612);
  --foreground: oklch(0.962 0.002 238.39342766426847);
  --card: oklch(0.259 0.024 239.93935230747476);
  --card-foreground: oklch(0.962 0.002 238.39342766426847);
  --popover: oklch(0.259 0.024 239.93935230747476);
  --popover-foreground: oklch(0.962 0.002 238.39342766426847);
  --primary: oklch(0.631 0.152 246.2137328811719);
  --primary-foreground: oklch(0.962 0.002 238.39342766426847);
  --secondary: oklch(0.269 0.022 239.6599500528143);
  --secondary-foreground: oklch(0.961 0.005 238.4408639319917);
  --muted: oklch(0.269 0.022 239.6599500528143);
  --muted-foreground: oklch(0.723 0.024 238.84679649488828);
  --accent: oklch(0.378 0.068 242.6144810622572);
  --accent-foreground: oklch(0.961 0.012 238.536096202281);
  --destructive: oklch(0.58 0.237 28.43022926835137);
  --border: oklch(0.371 0.039 240.22007405431043);
  --input: oklch(0.371 0.039 240.22007405431043);
  --ring: oklch(0.631 0.152 246.2137328811719);
  --chart-1: oklch(0.631 0.152 246.2137328811719);
  --chart-2: oklch(0.734 0.119 241.89900535573312);
  --chart-3: oklch(0.807 0.091 240.3950353605445);
  --chart-4: oklch(0.482 0.102 244.28129333650026);
  --chart-5: oklch(0.378 0.068 242.6144810622572);
  --sidebar: oklch(0.341 0.035 240.16436625264095);
  --sidebar-foreground: oklch(0.962 0.002 238.39342766426847);
  --sidebar-primary: oklch(0.631 0.152 246.2137328811719);
  --sidebar-primary-foreground: oklch(0.962 0.002 238.39342766426847);
  --sidebar-accent: oklch(0.378 0.068 242.6144810622572);
  --sidebar-accent-foreground: oklch(0.961 0.012 238.536096202281);
  --sidebar-border: oklch(0.371 0.039 240.22007405431043);
  --sidebar-ring: oklch(0.631 0.152 246.2137328811719);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
